/venv/
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/jsLibraryMappings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Blender-Python-JavaScript-3D-and-Docker.iml
